.side-bar
  .side-bar__box
    .top-items
      .top-items__name
        = current_user.name
      %ul.top-items__icon
        %li.top-items__icon__new-group
          = link_to new_groups_path do
            = icon('fas', 'layer-group', class: 'icon') 
        %li.top-items__icon__edit
          = link_to edit_users_path(current_user) do
            = icon('fas', 'wrench', class: 'icon')

  .groups
    - current_user.group.each do |group|
      .group
        = link_to groups_messages_path(group) do
          .group__name
            = group.name
          .group__message
            NO MESSAGE
